.searchbar{
    width: 568px;
    height: 48px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* margin: 12px; */
    font-size: 20px;
    padding: 20px;
}
.searchbutton{
    height: 48px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
    padding: 14px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 13px;
}